* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
  color: #3E3E3E;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  width: 100%; }

h2 {
  font-size: 1.4em;
  font-weight: 400; }

.material-icons, #sidebar-container ul li.completed:after {
  vertical-align: middle; }

a {
  color: #3E3E3E; }

a :hover {
  color: black; }

nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2); }

.nav-container {
  width: 80%;
  margin: 0 auto;
  height: 80px; }

.nav-logo-wrapper {
  width: 130px; }

.bg-prm {
  background-color: #17D1AC;
  color: #fff; }

.btn {
  border-radius: 100px;
  padding: 0.5em 1.5em;
  font-weight: 600;
  font-size: 0.8em;
  color: #fff;
  border: none; }

.btn-white {
  background-color: #fff;
  color: #17D1AC; }

.btn-prm {
  background-color: #17D1AC; }

.btn-scnd {
  background-color: #725FD9; }

.hero-container {
  padding-top: 140px;
  height: 350px;
  position: relative;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover; }

.hero-login-container {
  padding-top: 80px;
  height: 50em;
  position: relative;
  overflow: hidden;
  background-image: url("../img/grass-sky-bg-cyan.jpg");
  background-position: center;
  background-size: cover; }

.hero-text-container {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 80%;
  margin: auto auto;
  background-color: rgba(23, 209, 172, 0.6); }

.hero-container-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #17d1ac;
  opacity: 0.8; }

#hero-btn {
  background-color: #fff;
  color: #17D1AC;
  font-size: 0.8em; }

.small-header {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 800; }

.header-text {
  font-size: 1.9em; }

.page-title-container {
  padding-top: 180px;
  height: 350px;
  position: relative;
  overflow: hidden; }

.page-title-text-container {
  width: 80%;
  margin: auto;
  text-align: center; }

.page-title-text {
  font-size: 2.2em;
  font-weight: 900;
  color: #17D1AC; }

.page-section {
  width: 80%;
  margin: auto; }

.feature-section-container {
  margin: 4em auto;
  text-align: center; }
  .feature-section-container .btn {
    background-color: #17D1AC;
    color: #fff; }
  .feature-section-container h2 {
    text-align: center; }

.feature-item {
  text-align: center; }

.feature-icon {
  width: 75%;
  margin-bottom: 20%; }

.feature-header {
  font-size: 1.2em;
  font-weight: 700; }

.section-video-container {
  width: 100%;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.38); }

.section-text-container-right {
  margin-top: 15%;
  margin-bottom: 15%; }

.section-text-container-left {
  margin-top: 15%;
  margin-bottom: 15%;
  padding-left: 4rem;
  padding-right: 3rem; }

.text-section {
  text-align: center; }

.highlight-text {
  font-size: 1.6em;
  font-weight: 700;
  color: #17D1AC; }

h1.highlight-text {
  font-size: 2.6em; }

.feature-text-medium {
  font-size: 1.6em;
  padding-left: 8rem;
  padding-right: 8rem;
  text-align: justify; }

.recent-video {
  height: 220px; }

.sticky-offset {
  top: 80px; }

.btn-ar-primary {
  border: 3px solid #17D1AC;
  background-color: white;
  color: #17D1AC; }
  .btn-ar-primary:hover {
    background-color: #17D1AC;
    color: white; }

.btn-ar-secondary {
  border: 3px solid #725FD9; }

.bg-ar-secondary, .btn-ar-secondary {
  background-color: #725FD9; }

.bg-ar-secondary-light {
  background-color: #C6BEEF; }

.bg-ar-primary {
  background-color: #17D1AC; }

.progress {
  height: 0.3rem; }

.material-icons, #sidebar-container ul li.completed:after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.inset {
  padding-left: 40px;
  padding-right: 40px; }

#sidebar-container {
  margin: 30px;
  margin-top: 120px;
  background-color: white;
  margin-left: 60px;
  border-radius: 10px 10px 10px 10px;
  padding-left: 0px;
  padding-right: 0px; }
  #sidebar-container ul {
    list-style-type: none; }
    #sidebar-container ul li {
      padding: 10px 40px;
      font-size: 1.4rem;
      font-weight: bold;
      color: rgba(30, 30, 30, 0.2); }
      #sidebar-container ul li:after {
        content: "";
        float: right;
        margin-right: 20px;
        margin-top: 6px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba(30, 30, 30, 0.2); }
      #sidebar-container ul li.completed {
        color: #17D1AC; }
        #sidebar-container ul li.completed:after {
          content: 'check';
          background-color: #17D1AC;
          color: white;
          vertical-align: middle;
          font-size: 20px;
          font-weight: bold; }
      #sidebar-container ul li.active {
        background-color: #17D1AC;
        color: white; }
        #sidebar-container ul li.active:after {
          background-color: white; }

#main-content-container {
  margin: 30px;
  margin-top: 120px;
  background-color: white;
  margin-left: 30px;
  border-radius: 10px 10px 10px 10px;
  padding-left: 50px;
  padding-right: 50px; }
  #main-content-container .btn {
    font-size: 1.3rem;
    margin-top: 20px; }

#nextButton {
  float: right; }

.bg-highlight {
  background-color: #F7F7F7; }

.call-now-container {
  margin: 4em auto; }
  .call-now-container .call-now-heading h2 {
    text-align: center;
    font-size: 1.7em; }
  .call-now-container .call-now-heading h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 800;
    color: #17D1AC; }
  .call-now-container .call-now-numbers {
    display: flex; }
    .call-now-container .call-now-numbers .call-now-nz {
      padding-left: 5px;
      margin-right: 5%;
      color: #17D1AC; }
    .call-now-container .call-now-numbers .call-now-aus {
      padding-left: 5px;
      color: #17D1AC; }

#footer-container {
  background-color: rgba(23, 209, 172, 0.3); }
  #footer-container .footer {
    color: #17D1AC; }
  #footer-container .footer-subscribe-container {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 3rem; }
    #footer-container .footer-subscribe-container #subscribe-form {
      border: none;
      border-bottom: solid #17D1AC 4px;
      background-color: rgba(30, 30, 30, 0); }
    #footer-container .footer-subscribe-container #subscribe-btn {
      padding: 0.3em 1.3em;
      margin-top: 1em;
      width: 66%; }
  #footer-container .footer-menu-container > div dl {
    font-size: 0.8em; }
    #footer-container .footer-menu-container > div dl dt {
      margin-bottom: .5rem; }
    #footer-container .footer-menu-container > div dl dd {
      margin-bottom: 0; }
  #footer-container .footer-menu-contact {
    display: none; }

.footer-socmed-icon {
  width: 10%;
  min-width: 30px;
  margin: 10px; }

.footer-spacer {
  display: none; }

#about-main-text {
  padding-top: 4%;
  padding-bottom: 8%; }

#login-container {
  background-color: rgba(69, 155, 159, 0.4);
  border-radius: 10px;
  border: solid rgba(69, 155, 159, 0.3);
  padding-top: 4em;
  padding-bottom: 4em; }
  #login-container p, #login-container a {
    color: #fff; }
  #login-container .login-form input::placeholder {
    color: #fff; }
  #login-container .login-form .login-form-input {
    background-color: rgba(30, 30, 30, 0);
    box-shadow: 0 0 black;
    color: #fff;
    border: solid #fff 2px;
    border-radius: 10;
    margin: 0 auto;
    margin-bottom: 12px; }
  #login-container .login-form #card-expiry {
    width: 50%; }
  #login-container .login-form #card-cvc {
    width: 50%; }

#register-btn {
  margin-top: 12px;
  background-color: #fff;
  padding-left: 5em;
  padding-right: 5em;
  color: #17D1AC;
  font-size: 1.2em; }

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; }

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df; }

.StripeElement--invalid {
  border-color: #fa755a; }

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important; }

@media (min-width: 768px) {
  #sign-up-btn {
    background-color: #fff;
    color: #17D1AC;
    margin-left: 1em; }

  nav .btn {
    padding: 0.3em 1.2em;
    font-size: 0.7em;
    border: 2px solid #17D1AC; }

  .nav-items {
    margin: 0; }
    .nav-items li {
      display: inline-block;
      font-size: 0.7em; }

  .hero-container {
    height: 450px; }

  .hero-text-container {
    margin: 0;
    padding: 2em 4em 2em 4em;
    width: 500px;
    background-color: rgba(23, 209, 172, 0.6); }

  .call-now-heading h2 {
    text-align: right; }

  .call-now-numbers {
    display: block; }

  .footer-spacer {
    display: flex; }

  .footer-subscribe-container {
    padding-left: 6rem;
    padding-right: 6rem; }
    .footer-subscribe-container #subscribe-btn {
      width: auto; }

  .footer-menu-contact {
    display: flex; } }

/*# sourceMappingURL=style.css.map */
