* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* uncomment for width overflow debugging 
  border: 1px solid red; */
   }

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
  color: #3E3E3E;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  width: 100%; }

h2 {
  font-size: 1.4em;
  font-weight: 400; }

.material-icons, #sidebar-container ul li.completed:after {
  vertical-align: middle; }

a {
  color: #3E3E3E; }

a :hover {
  color: black; }
  
  .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 200; 
    left: 0;
    top: 0;
    background-color: rgba(242, 239, 243, 0.9);
    overflow-x: hidden; 
    transition: 0.5s; }

.slide-nav-container {
  background-color: pink;
  position: absolute;
}

.slide-nav-overlay {
  height: 0;
  width: 30%;
  position: absolute;
  z-index: 1600;
  overflow-x: hidden;
  transition: 0.3s;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 3000;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2); }

.nav-container {
  width: 80%;
  margin: 0 auto;
  height: 80px; }

.nav-logo-wrapper {
  width: 130px; }


.overlay-content {
    position: relative;
    top: 10%;
    width: 30%;
    margin: auto;
    text-align: center; }

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #725FD9;
    display: block;
    transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
    color: #C6BEEF; }

.overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 60px; }

.bg-prm {
  background-color: #75CEDE;
  color: #fff; }

.btn {
  border-radius: 100px;
  padding: 0.5em 1.5em;
  font-weight: 600;
  font-size: 0.8em;
  color: #fff;
  border: none; }

.btn-white {
  background-color: #fff;
  color: #75CEDE; }

.btn-prm {
  background-color: #75CEDE; }

.btn-scnd {
  background-color: #725FD9; }

.hero-container {
  padding-top: 140px;
  height: 350px;
  position: relative;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover; }

.hero-login-container {
  padding-top: 80px;
  height: 50em;
  position: relative;
  overflow: hidden;
  background-image: url("../img/grass-sky-bg-cyan.jpg");
  background-position: center;
  background-size: cover; }

.hero-text-container {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 80%;
  margin: auto auto;
  background-color: rgba(117, 206, 222, 0.6); }

.hero-container-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #75CEDE;
  opacity: 0.8; }

#hero-btn {
  background-color: #fff;
  color: #75CEDE;
  font-size: 0.8em; }

.small-header {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 800; }

.header-text {
  font-size: 1.9em; }

.page-title-container {
  padding-top: 180px;
  height: 350px;
  position: relative;
  overflow: hidden; }

.page-title-text-container {
  width: 80%;
  margin: auto;
  text-align: center; }

.page-title-text {
  font-size: 2.2em;
  font-weight: 900;
  color: #75CEDE; }

.page-section {
  width: 80%;
  max-width: 900px;
  margin: auto; }

.feature-section-container {
  margin: 4em auto;
  text-align: center; }
  .feature-section-container .btn {
    background-color: #75CEDE;
    color: #fff; }
  .feature-section-container h2 {
    text-align: center; }

.feature-item {
  text-align: center; }

.feature-icon {
  width: 75%;
  margin-bottom: 20%; }

.feature-header {
  font-size: 1.2em;
  font-weight: 700; }

.section-video-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.38); }

.section-text-container-right {
  margin-top: 15%;
  margin-bottom: 15%;
  padding-right: 1em;
  text-align: justify;
 }

.section-text-container-left {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 4rem;
  padding-right: 3rem; }

.text-section {
  text-align: center; }

.highlight-text {
  font-size: 1.6em;
  font-weight: 700;
  color: #75CEDE; }

h1.highlight-text {
  font-size: 2.1em; }

.feature-text-medium {
  font-size: 1.6em;
  padding: 0 2rem;
  text-align: justify; }

.feature-text-medium .contact {
  padding: 2rem;
  text-align: center;
}

.feature-text-med-quote {
  font-size: 1.6em;
  padding: 0 2rem;
  text-align: justify;
  font-weight: 200;
  font-style: italic; }

#homepage-img-feature {
    background: linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)),
        url("https://images.unsplash.com/photo-1522679056866-8dbbc8774a9d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=644951c9a9f2fdaf32192feeb7a33f7b&auto=format&fit=crop&w=1416&q=80");
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contact-img-feature {
  background: linear-gradient(
      rgba(20,20,20, .7), 
      rgba(20,20,20, .7)),
      url("https://images.unsplash.com/photo-1443632826930-7e5bc4aa7fa0?ixlib=rb-0.3.5&s=88a74af276be0f1a6786bcaaa490af7b&auto=format&fit=crop&w=1650&q=80");
      background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#contact-img-feature .section-text-container-left {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#homepage-img-feature > * {
    text-align: center;
    letter-spacing: 0.1em;
}

.recent-video {
  height: 220px; }

#testimonials-homepage {
  background-color: #75CEDE;
  padding: 1em;
  border-radius: 8px;
  margin-top: 10em;
  margin-bottom: 10em;
  min-height: 300px; }
  .testimonials-header {
    color: #fff; }
.testimonials-container {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 300px; }
.testimonials-container p {
  color: #fff;
  font-size: 18px;
  margin: 0; }  
.testimonials-container:after {
    position: absolute;
    bottom: 0;  
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
       rgba(117, 206, 222, 1) 10%, 
       rgba(255,255,255, 0) 90%
    ); }

.sticky-offset {
  top: 80px; }

.btn-ar-primary {
  border: 3px solid #75CEDE;
  background-color: white;
  color: #75CEDE; }
  .btn-ar-primary:hover {
    background-color: #75CEDE;
    color: white; }

.btn-ar-secondary {
  border: 3px solid #725FD9; }

.bg-ar-secondary, .btn-ar-secondary {
  background-color: #725FD9; }

.bg-ar-secondary-light {
  background-color: #C6BEEF; }

.bg-ar-primary {
  background-color: #75CEDE; }

.progress {
  height: 0.3rem; }

.material-icons, #sidebar-container ul li.completed:after, #sidebar-container ul li.completed:after  {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

  .material-icons, #sidenav-overlay ul li.completed:after, #sidebar-container ul li.completed:after  {
    font-family: 'Material Icons';
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold; }

.inset {
  padding-left: 40px;
  padding-right: 40px; }

#sidebar-container {
  margin: 30px;
  margin-top: 120px;
  background-color: white;
  margin-left: 60px;
  border-radius: 10px 10px 10px 10px;
  padding-left: 0px;
  padding-right: 0px;
  display: none; }
  #sidebar-container ul {
    list-style-type: none; }
    #sidebar-container ul li {
      padding: 10px 40px;
      font-size: 1.4rem;
      font-weight: bold;
      color: rgba(30, 30, 30, 0.2);
      position: relative;
      padding-right: 65px }
      #sidebar-container ul li:after {
        content: "";
        float: right;
        margin-right: 20px;
        margin-top: 6px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba(30, 30, 30, 0.2);
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);  }
	#sidebar-container ul li.completed a {
        color: #75CEDE; }
        #sidebar-container ul li.completed:after {
          content: 'check';
          background-color: #75CEDE;
          color: white;
          vertical-align: middle;
          font-size: 20px;
          font-weight: bold; }
      #sidebar-container ul li.active {
        background-color: #75CEDE;
        color: white; }
        #sidebar-container ul li.active:after {
          background-color: white; }
.sidenav-overlay {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 80px; /* Stay at the top */
    left: 0;
    background-color: rgba(247, 247, 247, 0.9);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
    padding-bottom: 100px; }
    .sidenav-overlay ul {
      list-style-type: none; }
      .sidenav-overlay ul li {
        padding: 10px 40px;
        font-size: 1.4rem;
        font-weight: bold;
        color: rgba(30, 30, 30, 0.2);
        position: relative;
        padding-right: 65px }
        .sidenav-overlay ul li:after {
          content: "";
          float: right;
          margin-right: 20px;
          margin-top: 6px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: rgba(30, 30, 30, 0.2);
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);  }
    .sidenav-overlay ul li.completed a {
          color: #75CEDE; }
          .sidenav-overlay ul li.completed:after {
            content: 'check';
            background-color: #75CEDE;
            color: white;
            vertical-align: middle;
            font-size: 20px;
            font-weight: bold; }
        .sidenav-overlay ul li.active {
          background-color: #75CEDE;
          color: white; }
          .sidenav-overlay ul li.active:after {
            background-color: white; }
.sidenav-closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidebar-hamburger-icon {
  display: block;
  width: 35%;
}
#sidebar-hamburger-icon-container {
  margin-left: 1.3rem;
  margin-top: -3rem;
  position: fixed;
  z-index: 1;
  height: 40px;
}
#dropdownSideMenu {
  background-color: #C6BEEF;
  border: #C6BEEF;
  color: #fff;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}


#main-content-container {
  margin: 30px;
  margin-top: 120px;
  background-color: white;
  margin-left: 30px;
  border-radius: 10px 10px 10px 10px;
  padding-left: 50px;
  padding-right: 50px; }
  #main-content-container .btn {
    font-size: 1.3rem;
    margin-top: 20px; }

#nextButton {
  float: right; }

.bg-highlight {
  background-color: #F7F7F7; }

.call-now-container {
  margin: 4em auto; }
  .call-now-container .call-now-heading h2 {
    text-align: center;
    font-size: 2.5em; }
  .call-now-container .call-now-heading h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 800;
    color: #75CEDE; }
  .call-now-container .call-now-numbers {
    display: block;
   }
    .call-now-container .call-now-numbers .call-now-nz {
      padding-left: 5px;
      margin-right: 5%;
      color: #75CEDE;
    text-align: center; }
    .call-now-container .call-now-numbers .call-now-aus {
      padding-left: 5px;
      color: #75CEDE;
    text-align: center; }

#footer-container {
  background-color: rgba(117, 206, 222, 0.3); }
  #footer-container .footer {
    color: #75CEDE; }
  #footer-container .footer-subscribe-container {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 3rem; }
    #footer-container .footer-subscribe-container #subscribe-form {
      width: 100%;
      border: none;
      border-bottom: solid #75CEDE 4px;
      background-color: rgba(30, 30, 30, 0); }
    #footer-container .footer-subscribe-container #subscribe-btn {
      padding: 0.3em 1.3em;
    margin-top: 1em;
  width: 100%; }
  #footer-container .footer-menu-container {
    display: block; }
    #footer-container .footer-menu-container > div dl dt {
      margin-bottom: .5rem; }
    #footer-container .footer-menu-container > div dl dd {
      margin-bottom: 0; }
  .footer-socmed .footer-socmed-icon {
    width: 10%;
    min-width: 30px;
    margin: 10px; }
  #footer-container .footer-socmed .footer-spacer {
    display: none;
  }

#about-main-text {
  padding-top: 4%;
  padding-bottom: 8%; }

.contact-main-content .page-section {
  margin-top: 10%;
  margin-bottom: 10%;
}

#contact-form .contact-form-input{
  width: 80%;
  margin: auto;
  margin-bottom: 1.5em;
  border-color: #3E3E3E; }
#contact-form-input-msg {
  height: 200px; }
#contact-form input::placeholder {
  font-size: 20px;
  color: #3E3E3E;
  vertical-align: top; }
#contact-btn {
  margin: auto;
  margin-top: 12px;
  background-color: #75CEDE;
  padding-left: 20%;
  padding-right: 20%;
  color: #fff;
  font-size: 1.2em; }

#login-container {
  background-color: rgba(69, 155, 159, 0.4);
  border-radius: 10px;
  border: solid rgba(69, 155, 159, 0.3);
  padding-top: 4em; }
  #login-container p, #login-container a {
    color: #fff; }
  #login-container .login-form input::placeholder {
    color: #fff; }
  #login-container .login-form .login-form-input {
    background-color: rgba(30, 30, 30, 0);
    box-shadow: 0 0 black;
    color: #fff;
    border: solid #fff 2px;
    border-radius: 10;
    margin: auto;
    margin-bottom: 12px;
    width: 80%; }
  #login-container .login-form #card-expiry {
    width: 50%; }
  #login-container .login-form #card-cvc {
    width: 50%; }
  .form-label-group {
    width: 100%; }
  .alert-link {
    color: #491217; }

#register-btn {
  margin-top: 12px;
  background-color: #fff;
  padding-left: 20%;
  padding-right: 20%;
  color: #75CEDE;
  font-size: 1.2em; }

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; }

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df; }

.StripeElement--invalid {
  border-color: #fa755a; }

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important; }

  .process-main-content p {
  text-align: justify;
  font-size: 18px; }
  .process-tick-box {
    font-weight: 700;
    color: #725FD9; }
  .process-extra-tickbox {
    font-weight: 700;
    color: #725FD9; }
  .process-quote {
    padding-left: 4%;
    padding-right: 4%;
    font-style: italic;
    font-weight: 200 }
  .process-main-content ol {
    padding-left: 5%;
    list-style: none;
    counter-reset: process-counter; }
  .process-main-content ol li {
    counter-increment: process-counter;
    padding: 5px; }
  .process-main-content ol li::before {
    content: counter(process-counter) ". ";
    color: #725FD9;
    font-weight: 200;
    font-size: 18px
   }
  .process-main-content ul {
    list-style-image: url('../img/blue-bullet-point.png');
    padding-left: 5%; }
    .process-main-content ul li {
      padding: 5px; } 
  .process-table-column-1 {
    width: 30%;
    font-weight: bold; }
  .process-table-2nd-row {
    background-color: #C6BEEF; }
  #video-container {
    max-width: 800%; }
  
  .testimonial-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8%;
    margin: 2em; }
  .testimonial-content {
    padding: 2em;
    text-align: justify;
    background-color:  rgba(255, 255, 255, 0.5);
    border: solid white;
    border-radius: 10px;
    max-width: 900px; }
  #error {
    padding-top: 180px;
    padding-bottom: 25%;
    background-image: url(../img/error-pg-img.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
  }

@media (min-width: 540px) {
  #footer-container .footer-menu-container {
    display: flex;
    justify-content: space-around;
  }

@media (min-width: 768px) {
  #sign-up-btn {
    background-color: #fff;
    color: #75CEDE;
    margin-left: 1em; }

  nav .btn {
    padding: 0.3em 1.2em;
    font-size: 0.7em;
    border: 2px solid #75CEDE; }

  .nav-items {
    margin: 0; }
    .nav-items li {
      display: inline-block;
      font-size: 0.8em; }

  .hero-container {
    height: 450px; }

  .hero-text-container {
    margin: 0;
    padding: 2em 4em 2em 4em;
    width: 500px;
    background-color: rgba(117, 206, 222, 0.6); }

  .call-now-heading h2 {
    text-align: right; }

  .call-now-numbers {
    display: block; } 
  
    #error {
      background-size: cover; }
    .footer-spacer {
      display: flex; }
    
    #footer-container .footer-subscribe-container #subscribe-btn {
      width: 66%; }
    #footer-container .footer-menu-contact {
      display: flex; }
    #contact-form .contact-form-input {
      width: 100%; }
   .testimonial-button {
      color: #fff;
      border: solid white; }
    }

  @media (min-width: 950px) {
    .content {
      padding: 100px 20px 20px 20px; }
    #error h2 {
      font-size: 2.5rem; }
    .feature-text-medium {
      padding: 2rem; }
    .feature-text-med-quote {
      padding: 2rem; }

    #footer-container .footer-subscribe-container {
            padding-left: 6rem;
            padding-right: 6rem; }
    #footer-container .form-inline {
                flex-flow: inherit; }
    #footer-container #subscribe-btn {
                width: auto; }
                
    #sidebar-hamburger-icon {
      display: none;
    }
    #sidebar-container {
      display: block
    }
    .sidenav-overlay {
      display: none;
    }
    .section-text-container-left h2 {
      font-size: 2.5rem; }
  }